// Place all the styles related to the ds_algotext_tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
background:#FFFFFF none repeat scroll 0 0;
color:#000000;
}
body{
	background:#FFEFD5;
}
table {
border-collapse:collapse;
border-spacing:0;
}
h1, h2, h3, h4, h5, h6 {
color: black;
}
.front-menu {
  border: 1px solid #ccc;
  background: #f6f6f6;
  display: table;
  margin-left: 1em;
}