<!DOCTYPE html>
<head>
<style>
body {
    background-color: #C0C0C0;
}
</style>
<title>Canvas</title>
<center><h1>LearnOnline</h1></center>
	  <center><h7>-an online study point</h7></center>
	   <hr/>
</head>     
<hr/>
<body> 
 <canvas width="2000" height="2000" style="border:1px solid #000000;">
</canvas> 
</body>
</html>